[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/hexHighlight"]
	path = bundle/hexHighlight
	url = https://github.com/EmmanuelOga/hexHighlight.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/snipplr"]
	path = bundle/snipplr
	url = https://github.com/t9md/vim-snipplr.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/slack/vim-l9.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
